/* =========== Google Fonts ============ */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
/* =============== Globals ============== */
* {
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --PrimaryColor: #24a3b5;
  --HoverColor: #69d2e0;
  --paleGreen: #d2eff3;
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(185, 66%, 23%);
  --textColor: hsl(240, 1%, 48%);
  --bgColor: hsl(220, 10%, 94%);
  --greytext: rgb(190, 190, 190);
  --inputColor: hsl(330, 12%, 97%);
  --blue: #2a2185;
  --white: #fff;
  --gray: #f5f5f5;
  --black1: #222;
  --black2: #999;
}

.listingSection {
  width: 100%;
}

/* ======================= Cards ====================== */
.admincardBox {
  position: relative;
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}

.admincardBox .listingCard {
  position: relative;
  background: var(--white);
  padding: 30px 40px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
}

.admincardBox .listingCard .numbers {
  position: relative;
  font-weight: 500;
  font-size: 2.5rem;
}

.admincardBox .listingCard .cardsName {
  color: var(--black2);
  font-size: 1.1rem;
  margin-top: 5px;
}

.admincardBox .listingCard .iconBx {
  font-size: 2rem;
  color: var(--black2);
}

.admincardBox .listingCard:hover {
  background: var(--PrimaryColor);
}

.admincardBox .listingCard:hover .numbers,
.admincardBox .listingCard:hover .cardsName,
.admincardBox .listingCard:hover .iconBx {
  color: var(--white);
}

/* ================== Order Details List ============== */
.details {
  position: relative;
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 30px;
  /* margin-top: 10px; */
}

.details .recentOrders {
  position: relative;
  display: grid;
  min-height: auto;
  background: var(--white);
  padding: 20px;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
}

.details .recentcardHeader {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.recentcardHeader .recentTitle {
  font-size: 20px;
  font-weight: 600;
  color: var(--PrimaryColor);
}

.recentcardHeader .bttn {
  position: relative;
  padding: 5px 10px;
  background: var(--PrimaryColor);
  text-decoration: none;
  color: var(--white);
  border-radius: 6px;
}

.details table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.details table thead td {
  font-weight: 600;
}

.details .recentOrders table tr {
  color: var(--black1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.details .recentOrders table tr:last-child {
  border-bottom: none;
}

.details .recentOrders table tbody tr:hover {
  background: var(--PrimaryColor);
  color: var(--white);
}

.details .recentOrders table tr td {
  padding: 10px;
}

.details .recentOrders table tr td:last-child {
  text-align: end;
}

.details .recentOrders table tr td:nth-child(2) {
  text-align: center;
}

.details .recentOrders table tr td:nth-child(3) {
  text-align: center;
}

.status.delivered {
  padding: 4px 4px;
  background: #38d100;
  color: var(--white);
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
}

.status.pending {
  padding: 4px 4px;
  background: #e9b10a;
  color: var(--white);
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
}

.status.return {
  padding: 4px 4px;
  background: #f00;
  color: var(--white);
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
}

.status.inProgress {
  padding: 2px 4px;
  background: #1795ce;
  color: var(--white);
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
}

.recentCustomers {
  position: relative;
  display: grid;
  min-height: 500px;
  text-align: center;
  padding: 20px;
  background: var(--white);
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
}

.recentCustomers .imgBx {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  overflow: hidden;
}

.recentCustomers .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.recentCustomers table tr td {
  padding: 12px 10px;
}

.recentCustomers table tr td h4 {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2rem;
}

.recentCustomers table tr td h4 span {
  font-size: 14px;
  color: var(--black2);
}

.recentCustomers table tr:hover {
  background: var(--PrimaryColor);
  color: var(--white);
}

.recentCustomers table tr:hover td h4 span {
  color: var(--white);
}

/* Resposnsive Design */
@media (max-width: 991px) {
  .admincardBox {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 768px) {
  .details {
    grid-template-columns: 1fr;
  }
  .recentOrders {
    overflow-x: auto;
  }
  .status.inProgress {
    white-space: nowrap;
  }
}
@media (max-width: 480px) {
  .admincardBox {
    grid-template-columns: repeat(1, 1fr);
  }
  .recentcardHeader .recentTitle {
    font-size: 20px;
  }
  .user {
    min-width: 40px;
  }
}/*# sourceMappingURL=listing.css.map */