.footer .row {
    font-family: Assistant;
    margin: auto;
    padding: calc(47px - 1.25rem) 0;
    font-size: 15px;
  }
  
  .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }
  
  .footer h5.card-title {
    font-weight: 700;
  }
  
  .card-title {
    margin-bottom: 0.75rem;
  }
  
  .footer mt-5 .h5,
  .footer mt-5 h5 {
    font-size: 1.25rem;
  }
  .footer mt-5 .h1,
  .footer mt-5 .h2,
  .footer mt-5 .h3,
  .footer mt-5 .h4,
  .footer mt-5 .h5,
  .footer mt-5 .h6,
  .footer mt-5 h1,
  .footer mt-5 h2,
  .footer mt-5 h3,
  .footer mt-5 h4,
  .footer mt-5 h5,
  .footer mt-5 h6 {
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
  }
  
  .footer mt-5 h1,
  .footer mt-5 h2,
  .footer mt-5 h3,
  .footer mt-5 h4,
  .footer mt-5 h5,
  .footer mt-5 h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
  }
  
  .footer mt-5 h5 {
    display: block;
    font-size: 0.83em;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
  }
  .card {
    color: #000;
  }
  .card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border-radius: 0.25rem;
  }
  .footer .row {
    margin: auto;
    padding: calc(47px - 1.25rem) 0;
  }
  
  .card-body {
    padding: 20px;
    background: white;
    color: black;
  }
  
  .card-title {
    font-size: 20px;
  }
  
  .footer {
    background: white;
    width: 100%;
  }
  
  .footer mt-5 a {
    color: black;
  }
  
  a:link {
    text-decoration: none;
  }
  
  ul {
    list-style: none;
  }
  
  .list-unstyled {
    padding: 2px;
  }
  
  .desktop-downLinkContainer img {
    width: 40%;
    height: auto;
    margin-bottom: 20px;
  }
  
  .desktop-keepInTouch,
  .desktop-gInfoTitle,
  .promise {
    color: #fff;
  }
  
  .desktop-appExperience {
    width: 20%;
    margin-top: 52px !important;
    font-family: Assistant;
  }
  
  .desktop-promises {
    margin-top: 50px !important;
    margin-left: 10px !important;
  }
  
  .desktop-gInfoTitle {
    margin-bottom: 10px;
  }
  
  .desktop-keepInTouch {
    margin-top: 10px;
  }
  
  .desktop-section,
  .desktop-original {
    display: flex;
  }
  
  .desktop-section {
    margin-top: 20px;
  }
  
  .desktop-appExperience {
    margin-left: 30px;
  }
  
  .promise {
    margin-left: 15px;
  }
  
  .foot_ {
    display: flex;
    justify-content: space-around;
    color: #fff;
    width: 100%;
    border-top: 1px solid #454d5e;
    padding: 40px;
  }
  
  .foot__ {
    display: flex;
  }
  
  .foot__ img {
    margin-right: 10px;
  }
  
  #for {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
.foot mt-5{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.foot_ > span {
    color: black;
}
.foot__{
    color: #000;
}
.col-12.col-lg.d-flex.flex-column.justify-content-between.p-0.m-0 {
    width: 25%;
}